body{
    font-family:'Montserrat', sans-serif;
    margin: 0;
    background: black;
    color: #e6e6e6;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
    color: black;
}
nav{
    background: grey;
    padding: 10px 0;
}
header{
    background: black;
    color: #e6e6e6;
    padding: 20px;
    text-align: center;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 30px;
}
nav ul li{
    display: inline-block;
    margin: 0 15px;
}
nav a{
    color: #e6e6e6;
    font-weight: 500;
}
section{
    padding: 50px;
    margin: 20px auto;
    max-width: 900px;
    background: #808080;
    border-radius: 8px;
    text-align: center;
}
section img{
    width: 180px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}
.semester {
    padding: 20px 25px; 
    margin-bottom: 25px; 
    border-left: 6px solid #23395b; 
    border-radius: 8px; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.08); 
}
.semester h3 {
    margin-top: 0;
    color: beige; 
    font-size: 1.3rem;
}
.semester ul {
    list-style: none; 
    padding-left: 0; 
    margin-top: 12px;
}
.semester li {
    padding: 6px 0; 
    border-bottom: 1px solid black; 
}
.semester li:last-child {
    border-bottom: none; 
}
footer{
    color: #e6e6e6;
    text-align: center;
    padding: 15px;
}
@media (max-width: 600px){
    body{
        font-size: 15px;
    }
    nav ul li{
        display: block;
        margin: 10px 0;
    }
    section img{
        width: 140px;
    }
}
#dynamic-greeting {
    text-align: center;
    margin: 15px;
    font-weight: bold;
    color: yellow;
    font-size: 20px;
}
#light-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #f5deb3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    z-index: 1000;
}
    #light-mode-toggle:hover {
        background-color: white;
        color: black;
    }
.light-mode {
    background-color: floralwhite;
    color: black;
}
.light-mode header{
    background-color: floralwhite;
    color: black;
}
.light-mode nav {
    background-color: floralwhite;
}
    .light-mode nav a {
        color: black;
    }
    .light-mode footer {
        background-color: floralwhite;
        color: black;
    }
    .light-mode header h1{
        background-color: floralwhite;
        color: black;
    }

    .light-mode #dynamic-greeting{
        background-color: floralwhite;
        color: black;
    }
#scroll-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #f5deb3;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    z-index: 1000;
    font-weight: bold;
}
    #scroll-to-top:hover {
        background-color: white;
    }
